<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate interest rate on your loan</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div style="width:50%;margin: 0 auto;">
        <h2>Calculate interest rate on your loan</h2>
        <div style="padding: 20px;">
            <a href="/digit_recognize">Digit Recognition Application</a>
        </div>
        <div style="padding: 20px;">
            <form action="/calculate" method="post">
                <div style="padding: 15px;">
                    <div style="display: inline-block;width:40%">Enter Requested Amount : </div>
                    <div style="width:50%;display: inline-block">
                        <input type="text" name="requested-amount" id="requested-amount" placeholder="Enter requested amount" />
                    </div>
                </div>
                <div style="padding: 15px;">
                    <div style="display: inline-block;width: 40%;">Enter Loan Length(in months) : </div>
                    <div style="display: inline-block;width: 50%;">
                        <input type="text" name="loan-length" id="loan-length" placeholder="Enter tenure" />
                    </div>
                </div>
                <div style="padding: 15px">
                    <div style="display: inline-block;width: 40%;">Enter your Debt to income ratio : </div>
                    <div style="display: inline-block;width: 50%;">
                        <input type="text" name="cibil-score" id="cibil-score" placeholder="Enter debt to income ratio" />
                    </div>
                </div>
                <div style="padding: 15px;">
                    <div style="display: inline-block;width:40%">Enter Monthly Income : </div>
                    <div style="width:50%;display: inline-block">
                        <input type="text" name="monthly-income" id="monthly-income" placeholder="Enter monthly income" />
                    </div>
                </div>
                <div style="padding: 15px;">
                    <div style="display: inline-block;width: 40%;">Enter FICO Range (300-850) : </div>
                    <div style="display: inline-block;width: 50%;">
                        <input type="text" name="fico-range" id="fico-range" placeholder="Enter FICO range" />
                    </div>
                </div>
                <div style="padding: 15px">
                    <div style="display: inline-block;width: 40%;">Enter Open Credit Lines(e.g - 10,12) : </div>
                    <div style="display: inline-block;width: 50%;">
                        <input type="text" name="credit-lines" id="credit-lines" placeholder="Enter Open Credit lines" />
                    </div>
                </div>
                <div style="padding: 15px">
                    <div style="display: inline-block;width: 40%;">Enter Revolving Credit score balance(eg-14000) : </div>
                    <div style="display: inline-block;width: 50%;">
                        <input type="text" name="credit-balance" id="credit-balance" placeholder="Enter revolving Credit balance" />
                    </div>
                </div>
                <div style="padding: 15px;">
                    <div style="display: inline-block;width: 40%;">Enter your Home Type : </div>
                    <div style="display: inline-block;width: 50%;">
                        <select name="home-type" style="width: 161px;">
                            <option value="-1">Select Home Type</option>
                            <option value="1">Rent</option>
                            <option value="2">Mortgage</option>
                            <option value="3">Own</option>
                        </select>
                    </div>
                </div>
                <div style="padding: 15px;">
                    <div style="margin: 0 auto;width: 45%;">
                        <input type="submit" value="Calculate" id="requested-amount" />
                    </div>
                </div>
            </form>
        </div>
        <div style="padding: 20px;font-weight:700 ">
            {{ prediction }}
        </div>
    </div>
</body>
</html>